{
    "swagger": "2.0",
    "info": {
        "title": "Amazon SP-API Combined Output",
        "version": "1.0.0"
    },
    "host": "sellingpartnerapi-na.amazon.com",
    "schemes": [ "https" ],
    "apis": [
        {
            "url": "https://raw.githubusercontent.com/amzn/selling-partner-api-models/main/models/authorization-api-model/authorization.json"
        },
        {
            "url": "https://raw.githubusercontent.com/amzn/selling-partner-api-models/main/models/catalog-items-api-model/catalogItemsV0.json"
        },
        {
            "url": "https://raw.githubusercontent.com/amzn/selling-partner-api-models/main/models/fba-inbound-eligibility-api-model/fbaInbound.json"
        },
        {
            "url": "https://raw.githubusercontent.com/amzn/selling-partner-api-models/main/models/fba-inventory-api-model/fbaInventory.json"
        },
        {
            "url": "https://raw.githubusercontent.com/amzn/selling-partner-api-models/main/models/fba-small-and-light-api-model/fbaSmallandLight.json"
        },
        { "url": "https://raw.githubusercontent.com/amzn/selling-partner-api-models/main/models/feeds-api-model/feeds_2020-09-04.json" },
        { "url": "https://raw.githubusercontent.com/amzn/selling-partner-api-models/main/models/finances-api-model/financesV0.json" },
        { "url": "https://raw.githubusercontent.com/amzn/selling-partner-api-models/main/models/fulfillment-inbound-api-model/fulfillmentInboundV0.json" },
        { "url": "https://raw.githubusercontent.com/amzn/selling-partner-api-models/main/models/fulfillment-outbound-api-model/fulfillmentOutbound_2020-07-01.json" },
        { "url": "https://raw.githubusercontent.com/amzn/selling-partner-api-models/main/models/merchant-fulfillment-api-model/merchantFulfillmentV0.json" },
        { "url": "https://raw.githubusercontent.com/amzn/selling-partner-api-models/main/models/messaging-api-model/messaging.json" },
        { "url": "https://raw.githubusercontent.com/amzn/selling-partner-api-models/main/models/notifications-api-model/notifications.json" },
        { "url": "https://raw.githubusercontent.com/amzn/selling-partner-api-models/main/models/orders-api-model/ordersV0.json" },
        { "url": "https://raw.githubusercontent.com/amzn/selling-partner-api-models/main/models/product-fees-api-model/productFeesV0.json" },
        { "url": "https://raw.githubusercontent.com/amzn/selling-partner-api-models/main/models/product-pricing-api-model/productPricingV0.json" },
        { "url": "https://raw.githubusercontent.com/amzn/selling-partner-api-models/main/models/reports-api-model/reports_2020-09-04.json" },
        { "url": "https://raw.githubusercontent.com/amzn/selling-partner-api-models/main/models/sales-api-model/sales.json" },
        { "url": "https://raw.githubusercontent.com/amzn/selling-partner-api-models/main/models/services-api-model/services.json" },
        {
            "url": "https://raw.githubusercontent.com/amzn/selling-partner-api-models/main/models/shipping-api-model/shipping.json",
            "operationIds": {
                "rename": {
                    "getShipment": "getFbaShipment",
                    "cancelShipment": "cancelFbaShipment",
                    "createShipment": "createFbaShipment"
                }
            }
        },
        { "url": "https://raw.githubusercontent.com/amzn/selling-partner-api-models/main/models/solicitations-api-model/solicitations.json" },
        { "url": "https://raw.githubusercontent.com/amzn/selling-partner-api-models/main/models/uploads-api-model/uploads_2020-11-01.json" }
    ]
}
